<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="/static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
  <p>jquery 中使用 ajax</p>
  <a href="javascript:;">点击提交</a>
  <script>
    $(document).ready(function() {
        $('a').click(function () {
          $.ajax({
            url: 'http://127.0.0.1:8081/ajax/jsjs',
            method: 'GET',
            data: {
                username: 'zhangsan',
                password: '123123'
            },
            /**
            success: function (res) {
              console.log(res)
              alert('成功了')
            },
            error: function () {
                alert('出错了')
            },
              **/
              complete: function() {
                alert('请求完成了')
              }
          })
        })
    })
  </script>
</body>
</html>